@import "../../../scss/utils/mixins";
@import "../../../scss/utils/variables";

.sideitem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@import "../../../scss/utils/responsive";
