@import "../../../scss/utils/mixins";
@import "../../../scss/utils/variables";

.nav {
  flex: 2;
  &__list {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    &--item {
      .active {
        background: $primary-color;
        font-weight: 500;
      }
    }
  }
  &.light--mode {
    .active {
      background: $secondary-typo;
    }
  }
}

@import "../../../scss/utils/responsive";
